nav{
    padding: 20px;
    position: sticky;
    top: 106px;
    z-index: 1;
}

nav ul{
    white-space: nowrap;
    margin: 0 auto;
    text-align: center;
    color: #0F1E31;

}

nav li{
    font-size: 18px;
    width: 18%;
    text-align: center;
    display: inline-block;
} 

nav li a{
    text-decoration: none;
    color: #0F1E31;
}

nav li a:hover{
    text-decoration: underline;
    color: #3796DA;
}

.img-responsive {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}

.column {
    font-size: 20px;
    text-align: justify;
    line-height: 35px;
    -webkit-columns: 250px 3;
    -moz-columns: 250px 3;
    column-gap: 40px;
    columns: 250px 3;
    margin-left: 75px;
    margin-right: 75px;
}

.service_b{
    font-weight: bold;
    margin-left: -125px;
}
u{
    text-decoration-color: #3796DA;
}



/* 
.paragraphs{

    column-rule: 4px double #ff00ff;
} */
