body{
    margin-left: 10px;
    margin-right: 10px;
    margin: 0;
    padding: 0;
}

nav{
    padding: 20px;
    position: sticky;
    top: 106px;
    z-index: 1;
}

nav ul{
    white-space: nowrap;
    margin: 0 auto;
    text-align: center;
    color: #0F1E31;

}

nav li{
    font-size: 18px;
    width: 18%;
    text-align: center;
    display: inline-block;
} 

nav li a{
    text-decoration: none;
    color: #0F1E31;
}

nav li a:hover{
    text-decoration: underline;
    color: #3796DA;
}

.img-responsive {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}

.column {
    font-size: 17px;
    text-align: justify;
    line-height: 35px;
    -webkit-columns: 250px 3;
    -moz-columns: 250px 3;
    column-gap: 40px;
    columns: 250px 3;
    margin-left: 75px;
    margin-right: 75px;
}

u{
    text-decoration-color: #3796DA;
}

.banner{
    bottom: 12;
    position: relative;
}

.banner_org{
    background-image: url("../assets/models/bkg\ partern\ 4.jpg");
    background-size: 600px 350px;
    height: 510px;
    padding-bottom: 590px;
    margin-left: 10px;
    margin-right: 10px;
}

.banner img{
    max-width: 100%;
    max-height: 100%;
}

.images{
    text-align: center;
    margin-top: 100px;
    margin: 80px 20px;
    white-space: nowrap;
    margin-right: -400px;
    list-style-type: none;
}

.images li{
    display: inline-block;
    list-style-type: none;
    width: 5%;
    margin: 20px 5%;
    position: relative;
    margin-left: 25px;
    /* right: 9px; */
    left: -15%;
}

.service_b{
    color: #3796DA;
    padding: 30px;
    font-size: 38px;
    position: absolute;
    left: 6em;
    top: 150px;
    font-weight: bolder;
    text-decoration-color: #3796DA;
    text-underline-offset: 10px;
}

.about_b{
    color: #3796DA;
    padding: 30px;
    font-size: 38px;
    position: absolute;
    left: 6em;
    margin-top: 160px;
    font-weight: bolder;
    text-decoration-color: #3796DA;
    text-underline-offset: 10px;
    /* text-decoration-thickness:em; */
}

.underline{
    text-decoration-line: underline;
}

/* .banner_org{
    background-image: url("../assets/models/bkg\ partern\ 4.jpg");
    margin-top: -90px;
} */

.button-7 {
    background-color: #0095ff;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    margin-left: 16em;
    background-color: #0F1E31;
}

.button-8 {
    background-color: #0F1E31;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    margin-left: 16em;
    /* margin-right: 10em; */
}

.button-7:hover,
.button-7:focus {
    background-color: #07c;
}

.button-7:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-7:active {
    background-color: #0064bd;
    box-shadow: none;
}

.imagesb{
    flex: right;
    position: absolute;
    top: -130px;
    right: -20em;
}

.cameraft{
    position: absolute;
    display: block;
    margin: auto;
    width: 50%;
    margin-top: 0;
    top: 120px;
    right: 40em;
}

.flex-container {
    display: flex;
    /* background-color: DodgerBlue; */
    width: 50%;
    list-style-type: none;
}

.colimgs{
    width: 40%;
}

.flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.border-right {
    border-right: 1px solid black;
}

#col1 {
    background: #3796DA;
    height: 200px;
    margin-top: 50px;
}

.csquote{
    float: right;
}

.move{
    margin-top: -16em;
    list-style-type: none;

}

.guardss{
    position: absolute;
    list-style-type: none;
    text-align: center;
    display: block;
    right: 47em;
    top: 62em;
}

.fguard{
    position: absolute;
    left: 23em;
    top: 66em;
}

.bullets{
    list-style-type: none;
}

.border-right{
    border-right: 1px solid black;
}

.parag1{
    margin-top: 30px;
    margin-left: 15em;
    margin-right: 15em;
    font-size: 14px;
    text-align: justify;
    font-weight: bolder;
}

.parag2{
    margin-top: 30px;
    font-weight: bolder;
    margin-left: 10em;
    margin-right: 10em;
}

.bluep{
    color: #3796DA;
    margin-left: 10em;
    margin-right: 10em;
    font-size: 13px;
}

.blueps{
    color: #3796DA;
    margin-left: 12em;
    margin-right: 12em;
    font-size: 12px;
}

.footer{
    /* position: fixed; */
    background-image: url("../assets/models/bkg\ partern\ 4.jpg");
    width: 100%;
    margin-top: 8.2em;
    left: 0;
    bottom: 0;
    background-size: 600px 450px;
}

.fut{
    color: white;
}
